<section class="left_sec">
	<h2>About this site:</h2>
	<p>Logo courtesy of <a href="http://thenounproject.com/ramir2/">Jose Ramirez</a> via <a href="https://thenounproject.com">The Noun Project</a>.
	Entypo pictograms by <a href="www.entypo.com">Daniel Bruce</a> via <a href="http://fontello.com/">Fontello</a>.</p>

	<p>Civic Fix is built by <strong>Aurora Nou</strong> as a project for General Assembly's Web Development Immersive course.</p>

	<div class="about_icon">
		<a href="https://github.com/auroranou">&#62208;</a>
		<a href="https://twitter.com/auroranou">&#62217;</a>
		<a href="www.linkedin.com/in/auroranou/">&#62232;</a>
	</div>
</section>

<section class="right_sec">
	<h2>Questions? Suggestions? Say hello!</h2>
	<form>
		<input type="email" name="mail_from" placeholder="Your email address">
		<input type="text" name="subject" placeholder="Subject">
		<textarea name="body" placeholder="Your message here."></textarea>
		<input type="submit" value="Send!">
	</form>
</section>
