<section class="center_sec">
	<h2>Are you sure you want to delete this post?</h2>
	<div><strong><%= @post.title %></strong></div>
	<div class="date"><%= @post.created_at %></div>
	<div><%= @post.description %></div>


	<form action='/post/delete/<%= @post.id %>' method='post' id="delete">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete!">
	</form>
</section>