<nav>
	<ul>
		<li><a href="/signup">Sign Up</a></li> |
		<li><a href="login">Log In</a></li>
	</ul>
</nav>

<!-- Fluff blurb here -->

<% @posts.each do |p| %>
	<div class="psa">
		<h2><%= p.title %></h2>
		<!-- Need to add time, date to this somehow -->
		<%= p.description %>
	</div>
<% end %>