<nav>
	<ul>
		<li><a href="/session/signup">Sign Up</a></li> |
		<li><a href="/session/login">Log In</a></li>
	</ul>
</nav>

<!-- Fluff blurb here -->

<% @posts.each do |p| %>
	<%= p.title %>
	<%= p.created_at %>
	<%= p.description %>
<% end %>