<!DOCTYPE html>
<html>
<head>
	<title>THREE ONE FUN</title>
	<link rel="stylesheet" type="text/css" href="<%= url("/normalize.css")%>">
	<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
	<link rel="icon" type="image/png" href="<%= url("/favicon.png")%>">
	<link href='http://fonts.googleapis.com/css?family=Raleway:600,400' rel='stylesheet' type='text/css'>
	<meta charset="utf-8">
</head>

<body>
	<header class="clearfix">
		<img src="/logo.png" alt="site logo" id="logo">
		<h1><a href="/">Civic Fix</a></h1>
		<% if @current_user == nil %>
		<nav>
			<ul>
				<li><a href="/session/signup">Sign Up</a></li>
				<li><a href="/session/login">Log In</a></li>
			</ul>
		</nav>
		<% else %>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/home">Dashboard</a></li>
				<li><a href="/session/logout">Logout</a></li>
			</ul>
		</nav>
		<% end %>
	</header>

	<div class="clearfix" id="container">
		<%= yield %>
	</div>

		<footer>
			<ul>
				<li><a href="/about">About</a></li>
				<li><a href="/manage">Manage Your Account</a>
			</ul>
		</footer>
</body>

</html>