<section class="center_sec">
	<h2>Welcome Back!</h2>

	<form action='/session/login' method='post'>
		<input type="text" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<input type="submit" value="Log In!">
	</form>
</section>