<nav>
	<ul>
		<li>Sign Up</li> |
		<li>Log In </li>
	</ul>
</nav>

<% @posts.each do |p| %>
	<div class="psa">
		<h2><%= p.title %></h2>
		<!-- Need to add time, date to this somehow -->
		<%= p.description %>
	</div>
<% end %>