<form action="/new_post/<%= @user_id %>" method="post">
	<input type="text" name="title" placeholder="Title">
	<input type="text" name="description" placeholder="Write your post here!">
	<input type="submit" value="Post!">
</form>