<form action='/new_message/<%= @current_user.id %>' method='post'>
	<select name="org_action">
		<% @actions.each do |a| %>
			<option value="<%= a %>"><%= a %></option>
		<% end %>
	</select>

	<input type="email" name="mail_from" placeholder="Your email address">
	<input type="text" name="subject" placeholder="Subject">
	<input type="text" name="body" placeholder="Your message here.">
	<input type="submit" value="Send!">
</form>