<section class="left_sec">
	<h2>Please write your post here:</h2>
</section>

<section class="right_sec">
<form action='/post/new' method='post'>
	<input type="text" name="title" placeholder="Title">
	<textarea name="description" placeholder="Description"></textarea>
	<input type="submit" value="Post!">
</form>
</section>