<h2>Here is your original post:</h2>
<div><strong><%= @post.title %></strong></div>
<div><%= @post.created_at %></div>
<div><%= @post.description %></div>

<h2>Submit your update below:</h2>
<form action='/update/<%= @post_id %>' method='post'>
	<input type="hidden" name="_method" value="put">

	<input type="text" name="title" placeholder="New Title">
	
	<input type="text" name="description" placeholder="New Description">

	<input type="submit">

</form>