<section class="left_sec">
	<h2>Here is your original post:</h2>
	<div><strong><%= @post.title %></strong></div>
	<div class="date"><%= @post.created_at %></div>
	<p><%= @post.description %></p>
</section>

<section class="right_sec">
	<h2>Submit your update here:</h2>
	<form action='/post/update/<%= @post_id %>' method='post'>
		<input type="hidden" name="_method" value="patch">
		<textarea name="description" placeholder="New Description"></textarea>
		<input type="submit" value="Update!">
	</form>
</section>