/* basic styles---------------------------*/

*{
	box-sizing: border-box;
}

body{
	background-color: #f2f2f2;
	color: #666;
	font-family: 'Raleway', 'Arial', sans-serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#container{
	width: 900px;
	position: relative;
	margin: auto;
	flex: 1;
}

@font-face{
	font-family: "Entypo Social";
	src: url('../public/Entypo-Social.ttf');
}

@font-face{
	font-family: "Entypo";
	src: url('../public/Entypo.ttf');
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #aaa;
}

p{
	line-height: 1.5em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.date{
	color: #aaa;
}

/* headers and footer --------------------*/

header{
	width: 100%;
	height: 110px;
	padding: 20px 40px;
	font-size: 20px;
	background-color: #141C22;
}

h1{
	float: left;
	margin: 0;
	color: #fff;
	font-size: 64px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

h2, a:hover{
	color: #E4523C;
}

header a, h2 a{
	color: #fff;
}

#logo{
	float: left;
	margin-right: 20px;
	height: 60px;
}

nav{
	float: right;
}

ul{
	list-style-type: none;
	padding: 0;
}

li{
	display: inline;
	margin: 15px;
	text-transform: uppercase;
	padding: 10px 0 5px 0;
}

footer{
	clear: both;
	width: 100%;
	padding-right: 40px;
	border-top: 1px solid #aaa;
}

footer ul{
	float: right;
}

footer a{
	color: #666;
}

/* forms and pages -----------------------*/

section{
	width: 440px;
}

.left_sec{
	float: left;
	margin-right: 20px;
}

.right_sec{
	float: left;
}

.center_sec{
	margin: auto;
}

form{
	margin: 0 auto 30px auto;
	padding: 20px;
	background-color: #ddd;
	border-radius: 5px;
}

select, input, label, textarea{
	display: block;
	width: 400px;
	margin: 15px auto;
}

input[type=submit]{
	width: 100px;
	background-color: #141C22;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

label{
	text-align: center;
}

textarea{
	height: 200px;
}

/* index view ---------------------------*/

.index{
	margin: 30px auto;
	width: 700px;
}

.index h2{
	margin: 5px 0 0 0;
}

.index:first-child p:first-letter{
	font-size: 3em;
	height: 0.8em;
	display: block;
	float: left;
	line-height: 1em;
	font-weight: bold;
	color: #E4523C;
	margin-right: 10px
}

.post{
	margin: 20px auto;
	padding: 15px 40px;
	background-color: #ddd;
	border-radius: 5px;
}

/* user dashboard view ------------------*/

.new{
	background-color: #141C22;
	padding: 5px;
	text-align: center;
	margin: 20px 0;
}

.contact_icon{
	font-family: "Entypo";
	font-size: 1.5em;
	letter-spacing: 0.5em;
	text-align: center;
}

/* manage account view -----------------*/

.about_icon{
	font-family: "Entypo Social";
	font-size: 3em;
	letter-spacing: 0.5em;
	border-top: 1px #aaa solid;
	margin-right: 20px;
}

/* delete account form -----------------*/

#delete{
	background-color: #f2f2f2;
	border: none;
	margin: 0 auto;
	padding-top: 0;
}

input[type=checkbox]{
	width: 20px;
}